{% load static %}
<!DOCTYPE html>

<html>
    
  {% include 'head.html' %}

  <body>
   
        {% include 'topbar.html' %}
     
      {% include 'navbar.html' %}

        {% include 'subnavbar.html' %}

        {% for product in detail %}
        <div class="col-lg-9 order-1 order-lg-2">
            <div id="productMain" class="row">
                

              <div class="col-md-6">
                <div data-slider-id="1" class="owl-carousel shop-detail-carousel">
                  <div class="item"> <img src="{{ product.image.url }}" alt="" class="img-fluid"></div>
                </div>
                <div class="ribbon sale">
                  <div class="theribbon">NEW</div>
                  <div class="ribbon-background"></div>
                </div>

              </div>
        <div class="col-md-6">
            <div class="box">
              <h1 class="text-center">{{ product.name }}</h1>
              
              <p class="price">Tsh. {{product.price}}</p>
              <p class="text-center buttons"><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a></p>
            </div>
            <div data-slider-id="1" class="owl-thumbs">
              <button class="owl-thumb-item"><img src="img/detailsquare.jpg" alt="" class="img-fluid"></button>
              <button class="owl-thumb-item"><img src="img/detailsquare2.jpg" alt="" class="img-fluid"></button>
              <button class="owl-thumb-item"><img src="img/detailsquare3.jpg" alt="" class="img-fluid"></button>
            </div>
          </div>
        </div>
        <div id="details" class="box">
          <p></p>
          <h4>Product details</h4>
          <p>{{product.description}}</p>

          <hr>
          <div class="social">
            <h4>Show it to your friends</h4>
            <p><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></p>
          </div>
        </div>

        {% endfor %}

        {% include 'pagenator.html' %} 

     

        {% include 'footer.html' %}
    
        {% include 'scripts.html' %}
    
      </body>
    </html>